doctype html
html
	head
		title Stremio Board
		link(rel="stylesheet", href="/stylesheets/board.css")
		script(src="/js/stremio-addons.min.js")
		script(src="https://cdn.jsdelivr.net/monkberry-standalone/4.0.2/monkberry.min.js")
		//-script(src="/js/monkberry/monkberry.js")

		script(src="/js/board.js")

	body

		script(type="text/monkberry",id="BoardItem").
			<li class="boardItem" data-id="{{ item._id }}" style="background-image: url({{ item._poster }})">
				<!--<h3>{{item.name}}</h3>-->
			</li>

		script(type="text/monkberry",id="BoardRow").
			<h2>{{ group.type + ' ' + group.addon.manifest.name }}</h2>
			<ul class="{{ group.items[0].posterShape || '' }}">
				{% for item of group.items %}
					<BoardItem item={{ item }}/>
				{% endfor %}
			</ul>

		script(type="text/monkberry",id="Board").
			<ul class="board">
				{% for group of groups %}
					<li class="boardRow" id="{{ group.id }}">
						<BoardRow group={{ group }}/>
					</li>
				{% endfor %}
			</ul>

		if (videoBackground)
			video(muted, preload="auto", autoplay="true", loop="loop", style="position: fixed; top: 0%; right: 0px; left: 0px; bottom: 0px;width: 100%; z-index: 0;")
				source(src="http://www.strem.io/aurora.mp4")