doctype html
html
	head
		title Stremio Board
		link(rel="stylesheet", href="/stylesheets/board.css")
		script(src="/js/stremio-addons.min.js")
		script(src="https://cdn.jsdelivr.net/monkberry-standalone/4.0.2/monkberry.min.js")
		//-script(src="/js/monkberry/monkberry.js")

		script(src="/js/board.js")

	body

		script(type="text/monkberry",id="BoardItem").
			<li>
				<h3>{{item.name}}</h3>
			</li>
			<!--<img src="{{ item._poster }}"/>-->

		script(type="text/monkberry",id="BoardRow").
			<h2>{{ group.type }}</h2>
			<ul>
				{% for item of group.items %}
					<BoardItem item={{ item }}/>
				{% endfor %}
			</ul>

		script(type="text/monkberry",id="Board")
			ul.
				{% for group of groups %}
					<li class="boardRow">
						<BoardRow group={{ group }}/>
					</li>
				{% endfor %}
